<nav class="navbar navbar-default" role="navigation">
    <div>
        <ul class="btn-group btn-group-justified ">
            <li class="navbar-brand"><div ng-click="viewHome()">Home</div></li>
            <li class="navbar-brand"><div ng-click="view5D()">5d mirror</div></li>
            <li class="navbar-brand"><div ng-click="view55Chin()">Chinon 55 1.7</div></li>
            <li class="navbar-brand"><div ng-click="view35Tak()">SMC takumar 35 3.5</div></li>
        </ul>
    </div>
</nav>