<div class="jumbotron">
    <div class="container">
        <h2>Cleaning guide for the Super-Multi-Coated Takumar 35 3.5</h2>
        <h3>How to open up a glued Takumar 35...</h3>
    </div>
</div>

<div class="container">
<br>
This will be a very short guide. My 35 needed some cleaning of the front group of elements<br>
that looked dirty and like they had fungus.<br>
Because all of the trouble I had to go through I want to share this guide!<br>
When I took the pics of the dismounted lens I had no thought of making this guide <br>
sorry if they are not very good. :-) <br>
<br>
First problem was that the front was stuck to the filter thread and wouldn't loosen<br>
even tho I had the right tools it was very hard to get it off. When I finally did <br>
I noticed that the ring was glued... I don't know if Takumars are supposed to be glued?<br>
This is the first one I open up. Anyway, the three screws that holds the filter thread <br>
was also glued. Look at picture nr 2.<br>
Once they came off I could remove the front group with two elements, see last picture.<br>

The two elements are put in place with one ring each. Also glued... After getting the <br>
glued rings off I could not get the elements out, because they were also glued of course.<br>
I could not get the elements loose so I decided to melt the glue by boiling it. <br>
So I put it in a bag and boiled it. Afterwards I managed to get the small rear element off<br>
but the front was still stuck. I stuck in the rubber handle of a thin file and struck it <br>
with a hammer - had to use force. I was afraid of breaking it - but I really wanted the <br>
fungus gone.<br>
<br>
Once inside the front group see pic 3. I could clean it, see pic 4. There was some kind <br>
of dirt inside it that went away with alcohol.<br>
The "fungus" turned out to be shaved off color, watch the front lens in pic 3 and 4. <br>
Around it's edge there is black paint that had fallen off - this will not ruin <br>
photos because the lens edges are put down in the rim you can see in the last pics.<br>
But it does not look funny.
<br>
<img src="img/tak35/1.jpg" width="444em"><h5>1</h5>
<img src="img/tak35/2.jpg" width="444em"><h5>2</h5>
<img src="img/tak35/3.jpg" width="444em"><h5>3</h5>
<img src="img/tak35/4.jpg" width="444em"><h5>4</h5>
    </div>