<div class="jumbotron">
    <div class="container">
        <h2>Cleaning guide for Chinon 55 1.7 </h2>
        <h3>Some general descripitons on how I cleaned the fungus from the lens.</h3>
    </div>
</div>



<div class="container">

    <h2>Picture 1. This is how the lens looks when the front lens group is taken apart.</h2>
    <img class="image" src="img/chinon/1.jpg"/>
    <p>text</p>
    <img class="image" src="img/chinon/2.jpg"/>
    <p>text</p>
    <img class="image" src="img/chinon/3.jpg"/>
    <p>text</p>
    <img class="image" src="img/chinon/4.jpg"/>
    <p>text</p>
    <img class="image" src="img/chinon/5.jpg"/>
    <p>text</p>





</div>