
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Hello world.</h1>

        <p>This is a site about my interest in camera equipment and photography. It will contain guides
            on how to service lenses as well as galleries of photos I've taken!
            <br>  <br>
            Feel free to contribute to the lens repair and service guides!</p>
    </div>
</div>

<div class="container">

    <div  class="row">
        <div id="bodyC" class="col-md-12">
            <h2>Latest stuff</h2>
            <hr>


            <hr>
            <br>

        </div>

        <div id="row" class="row">
            <div class="col-xs-6 col-md-4">
                <div ><img src="img/tak35/1.jpg" ></div>
            </div>
            <div class="col-xs-6">


                <div >

                    <h2>SMC Takumar 35 3.5 service</h2>

                    <p> A small guide and reflections on how to open and service the SMC Takumar 35 3.5. </p>

                    <p><a class="btn btn-default" ng-click="view35Tak()" role="button">Take me there &raquo;</a></p>
                </div>

            </div>
        </div> <!-- row end -->
        <hr>


        <div id="row" class="row">


            <div class="col-md-6"> <!-- chinon  -->

                <div id="rowInner" class="row">
                    <div class="col-xs-6"> <!-- chinon start -->
                        <div><img src="img/chinon/1.jpg" ></div>
                    </div>
                    <div class="col-xs-6"> <!-- chinon img -->
                        <div>
                            <h2>Chinon 55 1.7 fungus removal</h2>
                            <p> Bought a Chinon 55 1.7 quite cheap. The problem was that it had fungus on one of the inner lens elements. </p>
                            <p><a class="btn btn-default" ng-click="view55Chin()" role="button">Take me there &raquo;</a></p>
                        </div>
                    </div> </div> <!-- Chinon nested row end -->

            </div> <!-- chinon  end -->




            <div class="col-md-6"> <!-- 5d mirror -->

                <div id="rowInner" class="row">
                    <div class="col-xs-6"> <!-- chinon start -->
                        <div><img src="img/5dmirror/3.jpg" ></div>
                    </div>
                    <div class="col-xs-6"> <!-- chinon img -->
                        <div>
                            <h2>5D Mirror shave guide</h2>
                            <p>A complete guide on how to shave your mirror to be able to use old Takumars and other m42 lenses with the
                                5D.</p>
                            <p><a class="btn btn-default" ng-click="view5D()" role="button">Take me there &raquo;</a></p>
                        </div>

                    </div> </div> <!-- Chinon nested row end -->

            </div> <!-- 5d  end -->




        </div> <!-- row that holds teh two columns -->

    </div>


    <hr>

    <footer>
        <p>www.likstoff.se</p>
    </footer>
</div>
<!-- /container -->

