<div class="jumbotron">
    <div class="container">
        <h2>The "ultimate" Canon EOS 5D shaving guide!</h2>
        <h3>Here is a picture of my shaved mirror!</h3>
        <img src="img/5dmirror/8.jpg" alt="eos5d" width="200"><br><br>

    </div>
</div>

<div class="container">

        <h2> This will probably work with most DSLR cameras </h2>

        <p> I have read everything I could find about grinding, filing, shaving or what ever you might call it <br>
            that involves an EOS 5D. <br>
            Three years ago I bought a 5D for about 700$ or something like that and to my disappointment <br>
            some of my old Pentax glass would hit the mirror... Reading about the risks about shaving the mirror <br>
            I didn't dare to do it at the time so I sold the camera. Now Three years later I found a 5D with a Canon 50 1.8 <br>
            for around 300$ I had to buy - tired of my random auto focusing Pentax K-5 I needed something new and inspiring <br>
            So I bought the 5d and decided to shave the mirror! <br> <br>

            This guide is based on everything I have read plus my own experiences. Following this guide <br>
            should give you a good chance of not ruining your camera! ;) <br> <br>

            The first thing I did was to buy 3 diamond needle files, painters tape or what you call them in <br>
            English and some rubbers. <br> <br>

            During the process I realized I needed plastic foil to put on the front side of the mirror, see picture 4. <br>
            I also needed a pen to draw a marking on the tape to see how much I had grinded off. <br>
            At the end I would also have used some fine sand paper - just to try. <br><br>

            On the internet there are pictures of mirrors that have cracked, fell off, broken hinges etc. Mirrors falling off <br>
            is a known problem with the 5d as far as I know, if you have a 5d with the problem it might fall off <br>
            mine did not. <br>
            Cracking the mirror would take some force, a too heavy file or perhaps faulty use of a dremel. <br><br>

            With my experience the mirror is quite sturdy and hard to break if you follow my procedure.<br>
        </p>




        <img class="image" src="img/5dmirror/1.jpg" /><br><p> picture 1 </p><br>
        <p> This is what I started with. Later I added plastic foil and some sand paper! Don't forget the vacuum cleaner and a <br>
            moist sponge or something like that to clean the diamond tips with.</p>
        <img class="image" src="img/5dmirror/2.jpg" alt="eos5d"/><br><p> picture 2 </p><br>
        <p>
            This might be the most important step! To avoid breaking the lower mirror hinges or what it is called <br>
            you need to mount the main mirror so that the lower mirror does not get any pressure from anything. <br>
            so I cut the rubbers in shape so they only touch the main mirror, the thin end towards main mirror and <br>
            the thick end towards the bottom of the mirror box. Put one at each end of the mirror, be careful so it does not<br>
            touch the small underlying mirror! <- Important. <br>

        </p>

        <img class="image" src="img/5dmirror/3.jpg" /><br><p> picture 3 </p><br>
        <p>Seal the lower part, try to get as much of the mirror as possible to be visible.</p><br>
        <img class="image" src="img/5dmirror/4.jpg" alt="eos5d"/><br><p> picture 4 </p><br>
        <p>Here I needed the plastic foil so I did not have to tape so much on the mirror.</p><br>
        <img class="image" src="img/5dmirror/5.jpg" alt="eos5d"/><br><p> picture 5 </p><br>
        <p>Sealing done, also some filing is done.</p><br>
        <img class="image" src="img/5dmirror/6.jpg" alt="eos5d"/><br><p> picture 6 </p><br>
        <p>Notice the taped on vacuum cleaner hose. After a few hours the files started to go blunt <br>
            thats when I tried the sand paper, but I don't know if it was better or worse, at least it did not <br>
            get stuck at the edges of the mirror. <br>
            Try to find a setting where the file scratches off what looks like small snow flakes, that seems to be <br>
            what you're looking for if you want to get done faster. Go slow and careful! When you get a nice smooth <br>
            surface you can add more force. I started off very slow and it took a few hours. Remember to go from left to right <br>
            and from right to left when you file.
        </p><br>
        <img class="image" src="img/5dmirror/7.jpg" alt="eos5d"/><br><p> picture 7 </p><br>
        <p> some progress</p>
        <img class="image"  src="img/5dmirror/8.jpg" alt="eos5d"/><br><p> picture 8 </p><br>
        <p> Everything done - I can now mount the m42 lenses I want to, including the various models of the Takumar 50mm f1.4</p>
</div>